@import url(css-hacks/chrome/window_control_placeholder_support.css);
@import url(css-hacks/chrome/urlbar_popup_full_width.css);
@import url(css-hacks/chrome/autohide_sidebar.css);
@import url(css-hacks/chrome/hide_tabs_toolbar_osx.css);

@media (prefers-color-scheme: dark) {
  :root {
    --toolbar-background-color-custom: rgb(43,42,50);
    --custom-border-color: rgb(1,1,1);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --toolbar-background-color-custom: rgba(249,249,251);
    --custom-border-color: rgb(218, 217, 217);
  }
}

:root{ --uc-toolbar-height: 20px; }
:root:not([uidensity="compact"]){ --uc-toolbar-height: 20px; }

#nav-bar {
  height: 32px !important;
}

#nav-bar .toolbarbutton-1:not([type="menu-button"]),
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding: 0 !important;
}

@media (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  .titlebar-buttonbox-container{
    position: fixed;
    display: flex;
    left: 0px;
    margin-top: 6px;
    z-index: 3;
    height: 20 px;
    align-items: center
  }
  :root[tabsintitlebar="true"] #nav-bar{ padding-inline: calc(var(--uc-window-drag-space-width,0px) + 84px) 0px !important; }
}
@media (-moz-platform: macos){
  :root[tabsintitlebar="true"] #nav-bar{ padding-inline: calc(var(--uc-window-drag-space-width,0px) + 72px) 0px !important; }
}

#sidebar-box {
  --uc-sidebar-width: 35px;
}
/* hide header of sidebar */
#sidebar-box #sidebar-header {
  display: none !important;
}

#sidebar,
#sidebar-header{
  background-color: var(--toolbar-background-color-custom) !important;
  border-inline: 1px solid var(--custom-border-color);
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important;
}
